## Part 2

Importing numpy, pandas, and pillow

In [1]:
import sys
import numpy as np
import pandas as pd
import PIL

print("python", sys.version)
print("numpy", np.__version__)
print("pandas", pd.__version__)
print("pillow", PIL.__version__)

python 3.8.12 (default, Oct 12 2021, 03:01:40) [MSC v.1916 64 bit (AMD64)]
numpy 1.19.5
pandas 1.3.5
pillow 9.0.0

Testing Jupyter Notebook

In [2]:
print('whatever u like')

whatever u like

## Part 3

In [3]:
x = '5'
y = 10

Use a built-in function to find the data type of x

In [4]:
### BEGIN SOLUTION
q1 = type(x)

### END SOLUTION
print(q1)

<class 'str'>

Use a built-in function to check whether y is an integer.

In [5]:
### BEGIN SOLUTION
q2 = isinstance(y, int)

### END SOLUTION
print(q2)

True

Convert the value of x into integer type

In [6]:
### BEGIN SOLUTION
q3 = int(x)

### END SOLUTION
print(q3)

5

Raise x to the power of y

In [7]:
### BEGIN SOLUTION
q4 = int(x)**y

### END SOLUTION
print(q4)

9765625

Print a float to two decimal places without rounding

In [8]:
number = 3.14159
#Hint: The answer should be 3.14

### BEGIN SOLUTION
q5 = '{:.2f}'.format(number)

### END SOLUTION
print(q5)

3.14

Change the case of string variable into uppercase (Change sentence into uppercase)

In [9]:
sentence = 'This is a first assignment'

### BEGIN SOLUTION
q6_sentence = sentence.upper()

### END SOLUTION
print(q6_sentence)

THIS IS A FIRST ASSIGNMENT

Replace the word 'FIRST' by 'SECOND' in q6_sentence with uppercase

In [10]:
### BEGIN SOLUTION
q7_sentence = q6_sentence.replace("FIRST", "SECOND")

### END SOLUTION
print(q7_sentence)

THIS IS A SECOND ASSIGNMENT

Split all words inside the q7_sentence into a list of words

In [11]:
#HINT: Your answer should look like ['THIS' , 'IS', 'A', 'SECOND', 'ASSIGNMENT']

### BEGIN SOLUTION
q8_sentence = q7_sentence.split()

### END SOLUTION
print(q8_sentence)

['THIS', 'IS', 'A', 'SECOND', 'ASSIGNMENT']

Join the words in the list sentence (q8_sentence) into a single string

In [12]:
# The cell should print out 'THIS IS A SECOND ASSIGNMENT'

### BEGIN SOLUTION
# HINT: use join method
q9_sentence  = " ".join(q8_sentence)
### END SOLUTION

print(q9_sentence)

THIS IS A SECOND ASSIGNMENT

Convert a tuple into list

In [13]:
### BEGIN SOLUTION
rank = ('first', 'second', 'third')
q10_list_rank = list(rank)

### END SOLUTION
print(q10_list_rank)

['first', 'second', 'third']

Append a new value to a list. Append a string 'fourth' to the list q11_rank.

In [14]:
q11_rank = ['first', 'second', 'third']

### BEGIN SOLUTION
# Hint: use append method
q11_rank.append('fourth')

### END SOLUTION
print(q11_rank)

['first', 'second', 'third', 'fourth']

combine two lists into one. Extend the value of q12_rank by values of more_ranks list.

In [15]:
q12_rank = q11_rank
more_ranks = ['fifth', 'sixth', 'seventh']

### BEGIN SOLUTION
# Hint: use extend method
q12_rank.extend(more_ranks)

### END SOLUTION
print(q12_rank)

['first', 'second', 'third', 'fourth', 'fifth', 'sixth', 'seventh']

Faker is a Python package that generates fake data for you. We are going to generate some random names and addreess using the faker library in this exercise.
Install the faker library from your terminal or here using !pip install faker

Notice that the name and addresses are randomly generated. So every time you run the cell below, you will get different names and addresses

In [16]:
from faker import Faker
fake = Faker()
print(fake.name())
print(fake.address())

Brandi Garrison
006 Brandon Run Suite 577
Port Jesusbury, MA 26168

Create an empty dictionary named person and add 'name' and 'address' keys with their values as empty list

In [17]:
### BEGIN SOLUTION
person = {}
person['name'] = []
person['address'] = [] 

### END SOLUTION
q12 = isinstance(person['name'], list) & isinstance(person['address'], list)
print(q12)

True

Append five random names from fake library to the list values of person['name']. Append five random names from fake library to the list values of person['address']

In [18]:
for i in range(5):
    ### BEGIN SOLUTION
    person['name'].append(fake.name())
    person['address'].append(fake.address())
        
    ### END SOLUTION

q13 = len(person['name']), len(person['address'])
print(q13)

(5, 5)

Write a function that truncates a floating point number to three decimal places.

In [19]:
# if the input to the function is 3.14159, it should return 3.141

### BEGIN SOLUTION
import math
def truncate_float(number):
    return math.trunc(number * 10**3) / 10**3

### END SOLUTION
q14 = truncate_float(3.14159)
print(q14)

3.141

Write a function that takes a string as an argument and returns the upercase version of the input.

In [20]:
### BEGIN SOLUTION
def func_uppercase(x):
    return x.upper()

### END SOlUTION
q15 = 'FIRST' == func_uppercase('first')
print(q15)

True

Write a lambda (anonymous) funtion that returns sum of two numbers.

In [21]:
### BEGIN SOLUTION
q16 = lambda x, y: x + y

### END SOLUTION
print(q16(10, 20))

30

Use list comprehension to convert strings in a list into uppercase

In [22]:
list_lower = [fake.name() for i in range(5)]

### BEGIN SOLIUTION
list_upper = [i.upper() for i in list_lower]

### END SOLUTION
q17 =  list_lower[0].upper() == list_upper[0]
print(q17)

True

Write a map transformation to convert strings in a list to uppercase

In [23]:
list_lower = [fake.name() for i in range(5)]

### BEGIN SOLUTION
list_upper = list(map(lambda x: x.upper(), list_lower))

### END SOLUTION
q18 =  list_lower[2].upper() == list_upper[2]
print(q18)

True

Filter a list of integers to return only prime numbers

In [24]:
numbers = list(range(10))
# select only the prime numbers in the list numbers 

### BEGIN SOLUTION
prime_numbers = []

def is_prime_num(n):
    for i in range(2, n):
        if n % i == 0:
            return False
    return True 

for i in numbers:
    if i > 1:
        if is_prime_num(i) == True:
            prime_numbers.append(i)

### END SOLUTION
q19 = len(prime_numbers)
print(q19)

4